@font-face {
font-family : 'Open Sans';
src : url("../fonts/OpenSans-Regular.woff");
font-weight: 400;
}

@font-face {
font-family: 'Open Sans';
src : url("../fonts/OpenSans-Bold.woff");
font-weight : 400;
}

body {
margin: 0;


}

ul, ol {
  margin: 0;
  padding: 0;
}


@media (min-width: 1200px) {
.header {
padding: 30px 0;
background-image : url("../images/banner-bg.jpg");
background-repeat : no-repeat;
background-position : center center;
background-size : cover;
position: relative;
height: 450px; 
}
}

@media (min-width: 768px) and (max-width: 1199px) {
.header {
padding: 30px 0;
background-image : url("../images/banner-bg-tablet.jpg");
background-repeat : no-repeat;
background-position : center center;
background-size : cover;
position: relative;
height: 390px; 
}
}

@media (min-width: 360px) and (max-width: 767px) {
.header {
padding: 30px 0;
background-image : url("../images/banner-mobile.jpg");
background-repeat : no-repeat;
background-position : center center;
background-size : cover;
position: relative;
height: 650px; 
}

}


.body {
	min-width: 320px; 
}



.header-wrapper {
max-width: 1200px;
padding: 0 15px;
margin: auto;
position: relative;
z-index: 1;  
}

.header:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
}



@media (min-width: 1200px) {

.logo-menu {
justify-content : space-between;
align-items : center;
display : flex;
}

.menu {
	display: none; 
}

.header-title {
text-align : center;
color : #ffffff;
font-family : 'Open Sans';
text-transform : uppercase;
font-size: 2.8em;
max-width: 680px;
margin: auto;
margin-top: 100px; 
position: relative;
z-index: 2;
}

}

@media (min-width: 768px) and (max-width: 1199px) {

.logo-menu {
justify-content : space-between;
align-items : center;
display : flex;
}

.header-nav {
display: none; 
}


.menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.menu__button {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.menu__button:before  {
	top: 0;
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu__button:after {
	bottom:: 0;
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.header-title {
text-align : center;
color : #ffffff;
font-family : 'Open Sans';
text-transform : uppercase;
font-size: 2.8em;
max-width: 680px;
margin: auto;
margin-top: 100px; 
position: relative;
z-index: 2;
}

}

/*мобильное меню*/
@media (min-width: 360px) and (max-width: 767px) {

.logo-menu {
justify-content : space-between;
align-items : center;
display : flex;
flex-direction: column-reverse;
}

.header-nav {
display: none; 
}


.menu {
    display: flex;
    align-items: center;
    margin-bottom: 175px; 

}


.menu__button {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.menu__button:before  {
	top: 0;
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu__button:after {
	bottom:: 0;
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.header-title {
text-align : center;
color : #ffffff;
font-family : 'Open Sans';
text-transform : uppercase;
font-size: 1.6em;
max-width: 680px;
margin: auto;
margin-top: 40px; 
position: relative;
z-index: 2;
}

}
/*конец моб. меню*/

.header-nav {
	width: 460px; 

}

.header-list {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
justify-content: space-between;
}

.header-list-item:not(:first-child) {
 margin-left: 10px;  
}

.header-list-item {
display: flex;
}

.header-list-item > a:hover {
    color: #b59f51;
}

.header-list-item>a {
color: #ffffff;
text-decoration: none;
font-family : 'Open Sans';
text-transform : uppercase;
font-size: 0.8em;
}

.main {
margin-left : auto;
margin-right : auto;
margin-top: 60px;  
margin-bottom: 60px; 
max-width: 1200px;  
}

.trands {
flex-wrap: wrap;
width: 100%; 
margin-left: auto; 
margin-right: auto; 
}


.trands_title {
text-align : center;
text-transform : uppercase;
font-family : 'Open Sans';
margin-top: 0;
font-size : 1.25em;
margin-top: 64px; 

}

.trands_title::after {
content: '';
display: block;
background-color: #e1d9bd;
height: 3px;
width: 65px;
margin: 10px auto 0;  
}


@media (min-width: 1200px) {

.trands_blocks {
	display: flex;
	width: 100%;
	margin-left: auto; 
	margin-right: auto; 
justify-content: space-between;

}

.products_blocks {
	display: flex;
	flex-wrap: wrap;
	
}
}

@media (min-width: 768px) and (max-width: 1199px) {

.trands_blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.products_blocks {
	display: flex;
	flex-wrap: wrap;
	
}

.trands_block {
width: 44.0%;
min-height: 320px;
background-image : url(../images/trend1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
margin-bottom: 1%; 
}

.trands_block:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}


.trands_block2 {
width: 44.0%;
min-height: 320px;
background-image : url(../images/trend2.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
margin-bottom: 1%; 

}

.trands_block2:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

.trands_block3 {
width: 44.0%;
min-height: 320px;
background-image : url(../images/trend3.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block3:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

.trands_block4 {
width: 44%;
min-height: 320px;
background-image : url(../images/trend4.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block4:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

}

/*моб. блоки тренды*/

@media (min-width: 360px) and (max-width: 767px) {

.trands_blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.products_blocks {
	display: flex;
	flex-wrap: wrap;
	
}

.trands_block {
min-height: 320px;
background-image : url(../images/trend1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
margin-bottom: 1%; 
}

.trands_block:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}


.trands_block2 {
min-height: 320px;
background-image : url(../images/trend2.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
margin-bottom: 1%; 

}

.trands_block2:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

.trands_block3 {
min-height: 320px;
background-image : url(../images/trend3.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block3:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

.trands_block4 {
min-height: 320px;
background-image : url(../images/trend4.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block4:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

}
/*конец моб. блоки тренды*/


@media (min-width: 1200px) {

/*картинки для блока трендов */ 
.trands_block {
width: 21.5%;
min-height: 320px;
background-image : url(../images/trend1.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}


.trands_block2 {
width: 21.5%;
min-height: 320px;
background-image : url(../images/trend2.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block2:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

.trands_block3 {
width: 21.5%;
min-height: 320px;
background-image : url(../images/trend3.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block3:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

.trands_block4 {
width: 21.5%;
min-height: 320px;
background-image : url(../images/trend4.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
position: relative;
z-index: 1; 
display: flex;
align-items: flex-end;
padding-left: 20px; 
padding-right: 20px; 
padding-bottom: 20px; 
}

.trands_block4:before {
position : absolute;
content : "";
width : 100%;
height : 100%;
top : 0;
left : 0;
right : 0;
bottom : 0;
background-color : #000000;
opacity : 0.60;
z-index: 1; 
}

}

.trands_post {
font-family : 'Open Sans';
font-size : 0.9em;
list-style-type: none;
display: flex;
z-index: 2;
margin-bottom: 10px; 

}

.trands_blocks_text {
display: flex; 
flex-wrap: wrap;
align-items: flex-end; 
border: 3px solid #b59f51; 
z-index: 2; 
padding: 35px; 
}



.trand_title_link {
color : #ffffff;
font-family : 'Open Sans';
font-size: 1.25em;
text-transform : uppercase;
line-height : 24px;
text-decoration: none;  
z-index: 2; 

}


.trand_block_title > a:hover {
    color: #b59f51;
}



.main-wrapper {
max-width: 1200px;
margin-top: 64px;
margin-right: auto;
margin-left: auto; 
display: flex;
justify-content: space-between;
padding: 0 15px;
}



.section-title {
font-size : 1.2em;
}

.news {
width : 65%;
}

.card {
display : flex;
width: 100%; 
}

@media (min-width: 768px) and (max-width: 1199px) {

.card {
display : flex;
flex-wrap: wrap;
width: 90%; 
}	

.card-img {
box-sizing : border-box;
width: 100%; 
margin-bottom: 16px; 
 
}

.card-content {
text-align : left;
color : #0f0d0e;
font-family : 'Open Sans';
font-size : 1em;
margin-left : 0;
border-bottom: 2px solid #eeeeee;
}


}

.card:not(:first-child) {
  margin-top: 70px;
}


.card-img {
box-sizing : border-box;
}

.card-header {
box-sizing: border-box;

}

.tags_post {
font-family : 'Open Sans';
font-size : 0.9em;
list-style-type: none;
display: flex;
}

.post-tags-item {
align-items: flex-end; 
}

.post-tags-item:not(:first-child) {
margin-left: 10px;  
}

.post-tags-link {
  text-transform : uppercase;
  color : #b59f5b;
  text-decoration: none;
}

.post-tags-item > a:hover {
  color: #0f0d0e; 
}

.post-title {
text-align : left;
z-index: 2;
}

.post-title-link {
color : #0f0d0e;
font-family : 'Open Sans';
font-size : 0.8em;
text-transform : uppercase;
line-height : 24px;
text-decoration: none;  
}


.post-title > a:hover {
    color: #b59f51;
}

.card-date {
text-align : left;
color : #888888;
font-family : 'Open Sans';
font-size : 0.8em;
margin-left : 0;
}

.autor {
}

.autor-link {
color : #000000;
font-family : 'Open Sans';
font-size : 0.8em;
text-decoration: none;  
}

.autor > a:hover {
    color: #b59f51;
}

.card-content {
text-align : left;
color : #0f0d0e;
font-family : 'Open Sans';
font-size : 1em;
margin-left : 0;
}

.aside {
width: 270px;
}

.new_posts {
margin-bottom: 60px;
}

.new_posts_title {
text-align : center;
text-transform : uppercase;
font-family : 'Open Sans';
margin-top: 0;
}

.new_posts_title::after {
content: '';
display: block;
background-color: #e1d9bd;
height: 3px;
width: 65px;
margin: 10px auto 0;  
}

.new_post {
display: flex;
}

.new_post:not(:first-of-type) {
margin-top: 22px;
}

.new_post_img {
height : 70px;
}

.new_post_header {
box-sizing : border-box;
margin-left : 20px;
}

.new_post_name {
text-align : left;
color : #000000;
font-family : 'Open Sans';
font-size : 0.8em;
text-transform : uppercase;
margin-bottom: 0px;   
margin-top: 0
}

.new_post_date {
display: block; 
margin-bottom: 4px;   
color : #888888;
font-family : 'Open Sans';
font-size : 0.7em;
}

.search {
margin-top: 60px;
display: flex; 
width : 100%;
}

.field-search {
height : 50px;
width : 200px;
padding-left: 15px;
background-color : #f4f7f6;
border: 0px; 
}

.field:focus {
outline : none;
border-color : #000000;
}


.button {
background-image : url("../svg/search.svg");
background-size: 20px;  
background-color: #b59f5b;
background-repeat: no-repeat;
background-position: center; 
border: 0px; 
width : 50px;
height : 50px;
cursor: pointer;
}


.subcribe {
margin-bottom: 60px;
}

.field-subsribe {
padding: 5px 15px;
width: 100%;
height : 47px;
background-color : #f4f7f6;
border: 0; 
box-sizing: border-box;
}

.button_subcribe {
cursor: pointer;
border: none; 
width: 100%;
margin-top : 22px;
height: 50px;
background-color: #b59f5b;
color: white;
font-family: 'Open Sans';
text-transform: uppercase; 
}

.tags {
margin-bottom: 60px;
}

.tags-list {
display: flex; 
flex-wrap: wrap;
}

.tags_cloud {
border : #eeeeee solid 3px;
margin: 3px; 
text-transform : uppercase;
list-style-type: none;
}

.tags_cloud > a {
display: block; 
padding: 4px 10px; 
font-family : 'Open Sans';
color : #000000;
text-decoration: none; 
font-size : 0.8em;
}

.tags_cloud > a:hover {
    color: #b59f51;
}


.themes {

}

.themes_cloud {
border: none;
padding : 12px 0;
list-style-type: none;
}

.themes_cloud:not(:last-child) {
 border-bottom: #eeeeee solid 1px;
}

.themes_cloud > a {
font-family : 'Open Sans';
color : #000000;
text-decoration: none; 
font-size : 0.8em;
}

.themes_cloud > a:hover {
    color: #b59f51;
}


.themes_cloud > span {
font-family : 'Open Sans';
 font-size: 0.7em; 
 vertical-align: super; 
 color: #b59f5b;
}

/*стили для наши изделия  */

@media (min-width: 1200px) { 
.our_products { 
width: 30%;
display: flex;
flex-direction: column;
align-items: center;
margin: auto; 
}
}

@media (min-width: 768px) and (max-width: 1199px) {
.our_products { 
max-width: 333px;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 30px; 
margin-right: 3%;
margin-left: 3%;  
}

}


.our_product_border {
	border: #b59f5b solid 3px;
	margin-top: -30px; 
	height: 267px; 
	padding:  30px; 
}

.text-link {
color : #b59f51;
font-family : 'Open Sans';
font-size : 1em;
text-decoration: none;  
}


.products_content {
text-align : left;
color : #0f0d0e;
font-family : 'Open Sans';
font-size : 1em;
}



.products_content:hover .text-link {
    color: #e1d9bd;
}

.price {
display: flex; 
flex-wrap: wrap;
flex-direction: column;
justify-content: flex-end;
}

.price_text {
text-align : left;
color : #0f0d0e;
font-family : 'Open Sans';
font-size : 0.8em;
margin: 0;
text-decoration: line-through; 	
}

.price_text_new {
color : #0f0d0e;
margin: 0;
font-family : 'Open Sans';
font-size : 1.2em;
text-transform : uppercase;
text-decoration: none;
text-align : left;

}


.price_button {
display: flex; 
justify-content: space-between;

}

.button_product {
cursor: pointer;
border: none; 
width: 140px;
margin-top : 22px;
height: 50px;
background-color: #b59f5b;
color: white;
font-family: 'Open Sans';
text-transform: uppercase; 
}


/*футер*/
.adress {
background-color : #f4f7f6; 
padding: 30px 0;
}

.footer {
display: flex;
width: 100%; 
text-align: center;
color : #999999;
font-family : 'Open Sans';
font-size : 0.8em;
margin-left: auto;
margin-right: auto; 
margin-bottom: 45px;  
}

.footer-wrapper {
width: 100%;
max-width: 1200px; 
margin: auto;
padding: 0 15px;
}

.icon-field {
margin: 0;
padding: 0;
list-style-type: none;
display: flex;
justify-content: center;
}

.icon-field-item {

}

.icon-field-item:not(:first-child) {
  margin-left: 16px;
}

.icon-field-link {
display: block;
width: 24px;
height: 24px;
background-position: center;
background-repeat: no-repeat;
background-size: 20px;  
}

.icon-field-link-twitter {
background-image: url("../svg/004-twitter.svg");
}

.icon-field-link-pinterest {
background-image: url("../svg/001-pinterest.svg");
}

.icon-field-link-facebook {
background-image: url("../svg/002-facebook-logo.svg");
}

.icon-field-link-instagram {
background-image: url("../svg/005-instagram.svg");
}

.icon-field-link-tubler {
background-image: url("../svg/003-tumblr.svg");
}

.footer-copyright {
  margin-top: 73px;
}

.popup_general {
display: flex;
display: none;  	
}

.vual {
width: 100%;
height: 100%;
position: fixed;
top:0;
left:0;
background-color: rgba(0, 0, 0, 0.7);
display: flex;
z-index: 2;
}


.popup-krestik {
	width: 390px;
	margin: auto;
	 
}

.krestik {
 background-image: url(../svg/form-x.svg);
 width: 25px; 
 height: 25px; 
 
}

.popup {
  padding: 55px 27px;
  background: #ffffff;
  opacity: 1; 
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*форма*/
.form {
  max-width: 100%;
  margin: auto;
  margin-top: 30px; 
  width: 90%; 

}

.form__row {
  margin-top: 20px;
}

.form__row:first-child {
  margin-top: 0; 
}

.form__hint {
  font-size: 0.8em;
  margin-bottom: 8px;
  display: block;
  font-family: Open Sans;


}

/*вы подписаны на рассылку?*/
.radio-group-text::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url("../svg/form-empty-circle.svg");
	background-repeat: no-repeat;
	background-position: center  center;
	background-size: 20px;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;


}     

.radio-group-text::before {
  margin-right: 8px;


}

.radio-group {
 display: inline-block;
 font-size: 0.8em;
 font-family: Open Sans;

}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}
.radio:checked ~ .radio-group-text::before {
	background-image: url("../svg/form-circle.svg");

}

.radio {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px; 
	width: 1px; 
}

/*вы подписаны на рассылку закончилось*/

.field {
  border: none;
  font-family: Open Sans;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  color : #a2a4a3;
font-size: 0.8em;
font-weight: normal;
-webkit-appearance: none;
-moz-appearance: none;
}

.button_popup {
cursor: pointer;
border: none; 
width: 100%;
margin-top : 22px;
height: 50px;
background-color: #b59f5b;
color: white;
font-family: 'Open Sans';
text-transform: uppercase; 

}

select {
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px; 
  background-repeat: no-repeat;
  background-position: 98% center;
  padding-right: 35px;
  background-color: #f4f7f6;
}


textarea  {
height: 130px; 
background-color: #f4f7f6;
font-family: inherit;
-webkit-appearance: none;
-moz-appearance: none;
}



